/*

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

*/
/* 
html {
  font-family: "Open Sans", sans-serif !important;
} */

@font-face {
  font-family: mustardo;
  src: url(../assets/fonts/mustardo.ttf);
}

@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
}

.full-screen {
  padding: 8rem 0;
}

.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}
a:hover {
  color: #ffc200 !important;
}

.navbar-brand .uil {
  font-size: 40px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b, strong {
  font-weight: bold;
}

.custom-btn {
  background: #eee;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}
.custom-btn:hover {
  color: #ffc200;
}
.custom-btn.custom-btn-bg {
  background: #474559;
  color: #ffffff;
}
.custom-btn.custom-btn-bg:hover {
  background: #ffc200;
  color: #ffffff !important;
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 260px;
  position: absolute;
}

.animated-item {
  color: #ffc200;
}

.animated-item {
  font-size: 38px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  will-change: transform;
  transition: transform 200ms linear;
}
.navbar[class*="-unpinned"] {
  transform: translate(0, -150%);
}
.navbar[class*="-pinned"] {
  transform: translate(0, 0);
}
.navbar[class*="headroom--not-top"] {
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}
.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}
.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
  display: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
}
.navbar-toggler .navbar-toggler-icon {
  background: #212121;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s ease;
  position: relative;
}

.copyright-text {
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.color-mode {
  font-weight: bold;
  cursor: pointer;
}

.color-mode-icon {
  position: relative;
  right: 6px;
}
.color-mode-icon:after {
  font-family: 'unicons';
  content: '\ea9f';
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
}
.color-mode-icon.active:after {
  font-family: 'unicons';
  content: '\eb65';
  font-size: 30px;
  color: #ffffff;
}

.dark-mode {
  background: #0c0c0d;
}
.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
}
.dark-mode .navbar[class*="headroom--not-top"] {
  background: #0c0c0d;
  border-bottom: 1px solid #1f1f1f;
}
.dark-mode .small-text {
  background: #0d0c15;
  color: #ffffff;
}
.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6,
.dark-mode .color-mode {
  color: #ffffff;
}
.dark-mode .owl-carousel .owl-nav button.owl-next,
.dark-mode .owl-carousel .owl-nav button.owl-prev,
.dark-mode .owl-carousel button.owl-dot {
  color: #ffffff;
}

.timeline-wrapper {
  position: relative;
  padding: 22px 0;
}
.timeline-wrapper:last-child:before {
  height: 0;
}
.timeline-wrapper:before {
  content: "";
  background: #474559;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 38px;
}

.timeline-yr {
  background: #474559;
  border-radius: 100%;
  position: absolute;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}
.timeline-yr span {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 75px;
}

.timeline-info {
  display: inline-block;
  vertical-align: top;
  max-width: 432px;
  margin-left: 6em;
}
.timeline-info small {
  color: #474559;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.owl-carousel .owl-nav span {
  display: none;
}
.owl-carousel .owl-nav .owl-prev:before,
.owl-carousel .owl-nav .owl-next:before {
  background: none;
  padding: 0;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-family: 'unicons';
  font-size: 100px;
  line-height: normal;
}
.owl-carousel .owl-nav .owl-prev:before {
  content: '\e833';
  left: -45px;
}
.owl-carousel .owl-nav .owl-next:before {
  content: '\e836';
  right: -45px;
}

.owl-theme .owl-nav [class*=owl-] {
  background: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  color: #ffc200;
}
.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #5b5b5b;
}

.google-map iframe {
  width: 100%;
}

.contact-form {
  position: relative;
}
.contact-form .form-control {
  background: transparent;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  font-weight: bold;
  margin: 16px 0;
}
.contact-form .form-control:not(textarea) {
  height: 48px;
}
.contact-form .form-control:hover, .contact-form .form-control:focus {
  border-color: #ffc200;
}
.contact-form .submit-btn {
  background: #ffc200;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.contact-form .submit-btn:hover {
  background: #474559;
}

.contact-info {
  background: #474559;
  border-radius: 0 0 3px 3px;
  position: relative;
  bottom: 8px;
}
.contact-info p, .contact-info a {
  color: #f7f3f3;
}

.social-links .uil {
  color: #f7f3f3;
  font-size: 20px;
  display: block;
  margin: 5px 0;
}
.social-links .uil:hover {
  color: #ffc200;
}

@media (min-width: 1270px) {
  .owl-theme .owl-dots {
    position: relative;
    bottom: 50px;
  }
}
@media (max-width: 991px) {
  .full-screen {
    padding-bottom: 4rem;
  }

  .color-mode {
    display: none;
  }

  .about-image {
    margin-top: 4em;
  }

  .mobile-mt-2,
  .contact-form {
    margin-top: 2em;
  }

  .contact-info {
    padding: 0 2rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }

  .animated-item {
    font-size: 28px;
  }

  .navbar-collapse {
    background: #ffffff;
    text-align: center;
    padding-bottom: 20px;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 3px 20px;
  }
}
@media (max-width: 580px) {
	.animated-info {
		min-width: 200px;
	}
  .animated-item {
    font-size: 30px;
  }

  .custom-btn-group {
    text-align: center;
  }

  .custom-btn {
    display: block;
    margin: 10px 0;
  }

  .owl-theme .owl-nav {
    display: none;
  }

  .timeline-info small {
    display: block;
    margin: 10px 0 0 0;
  }
}
@media (max-width: 320px) {
  .animated-text {
    margin-top: 0;
  }

  .about-text {
    text-align: center;
  }

  .full-screen {
    padding: 4rem 0;
  }

  .mobile-block {
    display: block;
  }

  .contact-info {
    flex-direction: column;
  }

  .social-links li {
    display: inline-block;
    vertical-align: top;
  }
}

/* Social Icons */
.social-top {
  display: flex;
/*   background-color:grey; */
}
.social-top li {
  list-style: none;
  margin: 0 5px;
  height: 50px;
  width: 50px;
  color: #bae8e8;
  border: 2px solid #bae8e8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: all ease 0.3s;
}

.social-top li:hover {
  color: #2c698d;
  background: #bae8e8;
  cursor: pointer;
}

/* vertical movt image */
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-25px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-25px); }
}

@media screen and (max-width: 992px) {
  .padding--top--section{
    padding-top: 0px !important;
  }
}

.nav--heading--font{
  font-family: mustardo !important;
  letter-spacing: 2px;
  word-spacing: 1%;
  font-size: 2rem;
  font-weight: lighter;
}

.rathore-color{
  color: yellow;
}

/* beginning of timeline */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --light-blue: lightblue;
  --color-blue: blue;
  --color-dark-grey: #222831;
}

/*withe this font size, anywhere we use rem  our styling,  wl be translated to the rem X 10px, normally , 1
1 rem is 16px*/


@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap");

.font--experience--alternate {
 margin-left: -5rem !important;
}

/* Start Here */
.intro-text--experience {
  background-color: var(--color-dark-grey);
  color: var(--white);
  padding: 2rem 0;
}

.container--experience {
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.intro-text--experience .h1--experience {
  font-size: 2.5rem;
}

/* /Timeline section/ */
.img--experience {
  width: 100%;
}

.timeline-section--experience {
  width: 100%;
  overflow: hidden; /* creates block formatting context */
}

.timeline-section--experience .ul--experience {
  background: var(--light-blue);
  padding: 5rem 0; /* padding top and bottom 5rem */
}

/* /styling the liSt/ */
.timeline-section--experience .ul--experience .li--experience {
  list-style: none;
  position: relative;
  width: 5px; /* set width to 5px then set background to lightblue for that width */
  margin: 0 auto; /* center text */
  padding-top: 5rem; /* separate each list with a padding-top of 5rem = 5 x 10px= 50px */
  background: var(--color-blue);
}

/* /use pseudo elements to style/ */
/* /This section will help us make the node-like structure - The circle/ */
.timeline-section--experience .ul--experience .li--experience::after {
  content: ""; /* The content attribute is required for pseudo-elements to render */
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: inherit; /* inherits this property from its parent element */
}

/* Content box */
.timeline-section--experience .ul--experience .li--experience div {
  width: 30rem;
  font-size: 1.2rem;
  position: relative;
  bottom: 0;
  padding: 1.5rem;
  /* /glassmorphism effect/ */
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Triangle */
.timeline-section--experience .ul--experience .li--experience div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* /This is to select the divs at odd position so we can separate the divs to the right part/ */
.timeline-section--experience .ul--experience .li--experience:nth-child(odd) div {
  left: 45px; /* this style pushes the divs at odd number position to the right */
}

/* /this showcases the triangle/ */
.timeline-section--experience .ul--experience .li--experience:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--light-blue) transparent transparent;
}

/* /This is to select the divs at even number position so we can separate the divs to the left part/ */
.timeline-section--experience .ul--experience .li--experience:nth-child(even) div {
  left: -439px;
}

/* /this showcases the triangle/ */
.timeline-section--experience .ul--experience .li--experience:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--light-blue);
}

/* /style the time tag/ */
.time--experience {
  display: block;
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 7px;
}

.timeline-section--experience .ul--experience .li--experience::after {
  transition: all 0.5s ease-in-out;
}

/* /this changes the node content..giving it a background of white and making the border thicker/ */
.timeline-section--experience .ul--experience .li--experience.slide-in::after {
  background: var(--white);
  border: 3px solid var(--light-blue);
}

/* Hide event card initially */
.timeline-section--experience .ul--experience .li--experience div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline-section--experience .ul--experience .li--experience:nth-child(odd) div {
  transform: translateX(20rem);
}

.timeline-section--experience .ul--experience .li--experience:nth-child(even) div {
  transform: translateX(-20rem);
}

/* display the event card */
.timeline-section--experience .ul--experience .li--experience.slide-in div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* Tablet Width */
@media screen and (max-width: 900px) {
  .timeline-section--experience .ul--experience .li--experience div {
    width: 20rem;
  }

  .timeline-section--experience .ul--experience .li--experience:nth-child(even) div {
    left: -289px;
  }
}

/* Mobile width */
@media screen and (max-width: 600px) {
  .timeline-section--experience .ul--experience .li--experience {
    margin-left: 2rem;
  }

  .timeline-section--experience .ul--experience .li--experience div {
    width: calc(100vw - 91px);
  }

  .timeline-section--experience .ul--experience .li--experience:nth-child(even) div {
    left: 45px;
  }

  .timeline-section--experience .ul--experience .li--experience:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--light-blue) transparent transparent;
  }

  .font--experience--alternate {
    margin-left: 0rem !important;
   }
}

.li--experience{
  max-width: 30% !important;
}
/* end of timeline */


/* Recent Projects */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
* {
  box-sizing: border-box;

}
.center--project {
  text-align: center;
  padding-top: 10%;
  /* padding-bottom: 10%; */
  

}
.text-shadow--project {
  font-size: 2.2em;
  color: white;
}
.flip-vertical--project {
  position: relative;
}
.flip-vertical--project > .front--project, .flip-vertical--project > .back--project {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.flip-vertical--project > .front--project {
  transform: rotateY(0deg);
}
.flip-vertical--project > .back--project {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip-vertical--project:hover > .front--project {
  transform: rotateY(180deg);
}
.flip-vertical--project:hover > .back--project {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip-vertical--project.flip-vertical--project > .back {
  transform: rotateX(-180deg);
}
.flip-vertical--project.flip-vertical--project:hover > .front--project {
  transform: rotateX(180deg);
}
.flip-vertical--project.flip-vertical--project:hover > .back--project {
  transform: rotateX(0deg);
}
.flip-vertical--project {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 350px;
}
.flip-vertical--project > .front--project, .flip-vertical--project > .back--project {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}
.flip-vertical--project > .front--project p, .flip-vertical--project > .back--project p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}
.text-shadow--project {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

/* .margins{
  margin-bottom: 50px !important;
  margin-right: 40px !important;
  
} */
/* Recent Projects */

/* Tech Stack begin */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:700);



.container--3d {
  display:flex !important;
  perspective: 1000px; /* Viewing distance */
  margin-left: 9%;
}


.logo--3d {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  display: block;
  background-image: url(http://devinkoncar.com/images/misc/rams.png) !important;
  background-size: 100px 100px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  transform: rotateY(0deg) translateZ(0px);
}
.axis--3d {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d; /* Makes sides 3D-able as seen in the "translateX, Y or Z below */
}

.axis--3d > div {
  position: absolute;
  width: inherit;
  height: inherit;
}

.front--3d{
  transform: rotateY(0deg) translateZ(100px);
}
.back--3d{
  transform: rotateY(180deg) translateZ(100px);
}

.right--3d{
  transform: rotateY(90deg) translateZ(100px);
}
.left--3d{
  transform: rotateY(-90deg) translateZ(100px);
}

.top--3d{
  transform: rotateX(-90deg) translateZ(-100px);
}
.bottom--3d{
  transform: rotateX(90deg) translateZ(-100px);
}











/* ANIMATION */
@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}
.axis--3d { animation: spin 10s infinite linear; }
.axis--3d > div {
  transition-delay: 0.5s;
	transition-duration: 5s;
}
/* .axis:hover > div {
  transform: rotateX(0deg) rotateY(0deg) translateZ(0px);
} */

.axis--3d span {
  transition: all 2s linear;
}

/* .axis:hover > div > span {
  display: none !important;
} */

/* GENERAL STYLING */
/* *, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } */

.axis--3d { margin: 100px auto; }
.axis--3d > div {
  background: rgba(255,255,255,0.02);
  box-shadow: inset 0 0 50px rgba(255,255,255,0.3);
  font-size: 20px;
  text-align: center;
  line-height: 200px;
  color: rgba(255,255,255,0.9);
  font-family: 'Titillium Web';
  text-transform: uppercase;
  border: 1px solid rgba(255,255,255,0.3);
}
@media screen and (max-width: 900px) {
  .row--3d{
/*     justify-content:center; */
    display:inline-block !important;
    /* margin-left:35%; */
  }
}
@media screen and (max-width: 500px) {
  .row--3d{
/*     justify-content:center; */
/*     display:inline-block !important; */
    /* margin-left:17%; */
  }
}
@media screen and (max-width: 400px) {
  .row--3d{
/*     justify-content:center; */
/*     display:inline-block !important; */
    margin-left: 0%;
    margin-bottom:50% !important;
  }
}

@media screen and (max-width: 1264px) {
  .row--3d{
/*     justify-content:center; */
/*     display:inline-block !important; */
    margin-left: 3%;
    /* margin-bottom:50% !important; */
  }
}

.w-200-h-200{
  max-width: 200px;
  max-height: 200px;
  /* opacity: 0.8; */

}

/* .bg-white{
  border: 2px solid black;
} */
/* Tech Stack end */

/* Footer */
footer h4,
footer h3,
footer p,
footer span {
  font-family: system-ui, "Segoe UI", sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer a,
.footer-section a {
  text-decoration: none;
}

.footer-section {
  background: #f1f1f1;
  position: relative;
}

.footer-cta {
  border-bottom: 2px solid #0397fe;
}

.single-cta {
  display: flex;
}

.single-cta i {
  color: #0b7cc2;
  font-size: 30px;
  margin-top: 8px;
}

.ro-nine {
  transform: rotate(90deg);
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: rgb(36, 36, 36);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  /* text-decoration: none; */
}

.cta-text span {
  color: #5a5a5a;
  font-size: 15px;
}

.cta-text span a {
  text-decoration: none;
  color: #5a5a5a;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo .img-primary {
  max-width: 150px;
}

.footer-text p {
  margin-top: 14px;
  font-size: 14px;
  color: #5a5a5a;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.footer-widget-heading h3 {
  color: rgb(36, 36, 36);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #0397fe;
}

.footer-widget ul li {
  margin-bottom: 12px;
}

.footer-widget ul li::marker {
  content: "";
}

.footer-widget ul li a:hover {
  color: #0b7cc2;
}

.footer-widget ul li a {
  color: #5a5a5a;
  text-decoration: none;
}

.copyright-area {
  background: #dddddd;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 15px;
  color: #2b2b2b;
  font-weight: 500;
}

.copyright-text p a {
  color: #ff5e14;
}

.footer-menu li {
  display: inline-block;
  margin-left: 10px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.social-menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.social-menu ul li {
  list-style: none;
}

.social-menu ul li .fab,
.social-menu ul li .fas {
  font-size: 25px;
  line-height: 50px;
  color: #5b5a5b;
}

.social-menu ul li a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.425);
  text-align: center;
  transition: 0.5s;
  box-shadow: 1px 4px 5px rgb(0 0 0 / 9%);
}

.social-menu ul li a:hover {
  transform: translate(0, -10%);
  color: #fff;
  background-color: #fff;
}

.social-menu ul li a:hover i {
  color: #fff;
}

.social-menu ul li a.facebook-footer:hover {
  background-color: #4867aa;
}

.social-menu ul li a.youtube-footer:hover {
  background-color: #ff0000;
}

.social-menu ul li a.instagram-footer:hover {
  background: rgb(177, 42, 176);
  background: linear-gradient(200deg,
      rgba(177, 42, 176, 1) 0%,
      rgba(249, 125, 31, 1) 100%);
}

.social-menu ul li a.github-footer:hover {
  background-color: #1b1f23;
}

.social-menu ul li a.discord-footer:hover {
  background-color: #4d60e9;
}

.social-menu ul li a.mail-footer:hover {
  background-color: #c74941;
}

#meet-the-team-btn {
  margin-top: 2vh;
}